<!DOCTYPE html>
<html lang="pt=BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radeon™ RX 5600 XT GAMING 6G</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="c-logo" src="../img/AMD_Logo.svg.png" alt="AMD logo">
        <h1 class="c-titulo">Hauryn's Store</h1>
        <nav class="menu-links">
            <a href=""><p class="menu-botao">Ínicio</p></a>
            <a href="C:\Users\pablo\Desktop\Hauryn\Codes and stuff\Landing page\index.html" target="_blank"><p class="menu-botao">Hauryn</p></a>
            <a href=""><p class="menu-botao">Suporte</p></a>
        </nav>
    </header>
    <main class="conteudo">
            <div class="conteudo-secao-direita">
                <div class="conteudo-dir-txt">
                    <h1 class="conteudo-titulo">Radeon™ RX 5600 XT GAMING 6G</h1>
                    <h3 class="conteudo-subtitulo">Características</h3>
                    <p class="conteudo-txt">Distribuído por AMD Radeon™ RX 5600 XT</p>
                    <p class="conteudo-txt">Integrado com interface de memória de 6 GB GDDR6 de 192 bits</p>
                    <p class="conteudo-txt">Sistema de resfriamento WINDFORCE 3X com ventiladores giratórios alternativos</p>
                    <p class="conteudo-txt">RGB Fusion 2.0 – 16,7 milhões de cores sincronizadas com outros dispositivos AORUS</p>
                    <p class="conteudo-txt">Placa traseira de metal</p>
                    <p class="conteudo-txt">Suporte PCI-Express 4.0</p>
                    <br>
                    <h3 class="conteudo-subtitulo">Clock do Núcleo</h3>
                    <p class="conteudo-txt">Boost Clock*: até 1560 MHz</p>
                    <p class="conteudo-txt">Game Clock*: até 1375 MHz</p>
                </div>
                <div class="conteudo-dir-img">
                    <img src="../img/rgb.png" alt="RGB Fusion">
                    <img src="../img/wind.png" alt="WINDFORCE">
                    <img src="../img/pcie.png" alt="PCI-E 4.0">
                </div>
            </div>

                <div class="conteudo-secao-esquerda">
                    <div class="slides">
                        <input type="radio" name="slide" id="slide1" checked>
                        <input type="radio" name="slide" id="slide2">
                        <input type="radio" name="slide" id="slide3">
                        <input type="radio" name="slide" id="slide4">
                        <input type="radio" name="slide" id="slide5">
                        
                        <div class="slide s1">
                            <img src="../img/gpu.png" alt="Radeon™ RX 5600 XT GAMING 6G">
                        </div>
                        <div class="slide">
                            <img src="../img/diagonal500.png" alt="Radeon™ RX 5600 XT GAMING 6G">
                        </div>
                        <div class="slide">
                            <img src="../img/front500.png" alt="Radeon™ RX 5600 XT GAMING 6G">
                        </div>
                        <div class="slide">
                            <img src="../img/side500.png" alt="Radeon™ RX 5600 XT GAMING 6G">
                        </div>
                        <div class="slide">
                            <img src="../img/back500.png" alt="Radeon™ RX 5600 XT GAMING 6G">
                        </div>
                        
                        <div class="navigation">
                            <label class="bar" for="slide1"></label>
                            <label class="bar" for="slide2"></label>
                            <label class="bar" for="slide3"></label>
                            <label class="bar" for="slide4"></label>
                            <label class="bar" for="slide5"></label>
                        </div>
                    </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>